<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the homepage</h1>
    {% if books == [] %}
        <h2>No Books</h2>
    {% else %}
        <table border="1">
            <tr>
                <th>Book Title</th>
                <th>Author</th>
            </tr>
            {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <a href="{{url_for('form').replace('/index.cgi/', '/')}}">編集</a>
</body>
</html>